.memory-cards-block {
  position: absolute;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15vh;
}

.memory-cards {
  height: 180px;
  width: 180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.cards-row {
  display: flex;
  height: 100%;
  flex-direction: row;
}

@keyframes flip_card {
  from {
  }
  to {
    display: block;
    transform: rotateY(180deg);
  }
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-inner {
  animation: flip_card;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.memory-cards-prize {
  animation: scaleInOut 0.5s forwards;
  align-self: center;
  padding-top: 25%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start;
}

@keyframes scaleInOut {
  0% {
    opacity: 0.2;
    transform: scale(0.7, 0.7);
  }
  25% {
    opacity: 0.5;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.prize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 2.71799px rgba(255, 199, 0, 0.3);
  filter: drop-shadow(0px 0px 30.19px rgba(255, 0, 0, 0.65));
  border-radius: 5.43598px;
}

.prize-top {
  background: linear-gradient(
    111.66deg,
    #ea6b35 9.1%,
    #e73a23 53.61%,
    #d5211c 101.26%
  );
  border-radius: 5.43598px 5.43598px 0px 0px;
  text-align: center;
  justify-content: center;
}

.prize-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
}
