html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
}

#page-1 {
  background: linear-gradient(180deg, #ff8652 8.33%, #e52924 52.6%);
}

#page-2,
#page-5,
#page-6 {
  background: #fcfcfc;
}

#page-3,
#page-4 {
  width: 100%;
  background: red;
  background-repeat: no-repeat;
  background-size: 100%;
}

.page {
  display: grid;
  grid-auto-rows: 1fr;
  height: 100vh;
  overflow-y: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.poster {
  padding-top: 15%;
  height: 100%;
  width: 100%;
  text-align: center;
}
.poster img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-height: 720px), screen and (max-width: 360px) {
  .poster img {
    width: 86%;
    height: 96%;
  }

  .content.text {
    margin-bottom: 30%;
    margin-top: 0 !important;
  }

  .loyalty {
    right: 4% !important;
    top: 51% !important;
  }
  .arrow-down {
    right: 15% !important;
    top: 53% !important;
  }
}

@media only screen and (max-height: 700px) {
  .content.text {
    margin-top: -15%;
  }

  .loyalty {
    right: 4% !important;
    top: 51% !important;
  }
  .arrow-down {
    right: 17% !important;
    top: 54% !important;
  }
}
@media only screen and (max-height: 670px) {
  .content.text {
    margin-bottom: 95px;
  }

  /* .welcome-text {

  } */
}

@media only screen and (min-height: 800px) {
  .content.text {
    margin-bottom: 25%;
  }
  .loyalty {
    right: 4% !important;
    top: 56% !important;
  }
  .arrow-down {
    right: 17% !important;
    top: 56% !important;
  }

  .page-2-text {
    margin: 0 30px !important;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 24px;
}

.content.text {
  text-align: center;
  color: #ffffff;
  gap: 22px;
}

.content.actions {
  gap: 12px;
}

.content-img {
  height: 100%;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.content-img.page-2,
.content-img.page-3 {
  background: yellow;
}

.content-img.page-4 {
  background: green;
}

.coin-left {
  position: absolute;
  left: 6%;
  top: -6%;
  transform: rotate(-10deg);
  background: transparent;
}

.coin-right {
  z-index: 1;
  position: absolute;
  right: 13%;
  top: -2%;
  background: transparent;
}

.coins-right {
  position: absolute;
  right: 5%;
  top: -11%;
  transform: rotate(-10deg);
  background: transparent;
}

.arrow-up {
  z-index: 1;
  position: absolute;
  right: 7%;
  top: 11%;
}

.loyalty {
  z-index: 1;
  position: absolute;
  right: 10%;
  top: 64%;
}
.arrow-down {
  z-index: 1;
  position: absolute;
  right: 21%;
  top: 64%;
}

.hidden {
  display: none !important;
}

@keyframes coupon_list {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 1;
    transform: translate3d(0, -60%, 0);
  }
}
.coupon_list {
  width: 63%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 90%;
  left: 1px;
  right: 0;
  animation-name: coupon_list;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.half-height {
  height: 50vh;
}

.full-height {
  height: 100vh;
}

.qr-icon {
  z-index: 1;
  bottom: 88%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.no-space {
  margin: 0;
  margin-top: 20%;
  padding: 0;
}

.welcome-text {
  margin: -105px 90px 30px 90px;
}

.page-2-text {
  margin: 0 20px;
}

.center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}
