@import "typography.css";
@import "buttons.css";
@import "coupon.css";
@import "memory.css";

* {
  user-select: none;
}

body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: -10px;
}

html {
  height: -webkit-fill-available;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../onboarding_assets/images/background_1.png")
    url("../onboarding_assets/images/background_4.jpg")
    url("../onboarding_assets/images/background_6.png");
}

div#preload {
  display: none;
}

#page-1 {
  background: linear-gradient(180deg, #ff8652 8.33%, #e52924 52.6%);
}

#page-3,
#page-4 {
  background: url("../onboarding_assets/images/background_4.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hidden {
  display: none;
}

.poster {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 15%;
}

.poster img {
  max-width: 100vw;
  width: 400px;
  height: 100%;
  max-height: 50vh;
}
.page {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.block {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.block.block-2,
.block.block-3,
.block.block-4 {
  z-index: 1;
  padding-top: 20%;
}

.block-2 div > img {
  width: 65%;
}

.block.block-2::after {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  top: 11%;
  left: -25%;
  background: linear-gradient(180deg, #ff8652 8.33%, #e52924 52.6%);
}

.block.block-3::after {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  top: 10%;
  left: -25%;
  background: linear-gradient(90deg, #ff8652 8.33%, #e52924 52.6%);
}

.block.block-4::after {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  top: 14%;
  left: -25%;
  background: linear-gradient(360deg, #ff8652 -20.3%, #e52924 52.6%);
}

.content {
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0% 1%;
}

.subtitle {
  padding-bottom: 10%;
}

@keyframes coupon_list {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
}

.coupon_list {
  width: 64%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 1px;
  right: 0;
  animation-name: coupon_list;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.coin-left {
  z-index: -1;
  position: absolute;
  left: 6%;
  top: 5%;
  transform: rotate(-10deg);
  background: transparent;
}

.coin-right {
  z-index: 2;
  position: absolute;
  right: 0%;
  top: 8%;
  background: transparent;
}

.coins-right {
  z-index: -1;
  position: absolute;
  right: -15%;
  top: 2%;
  background: transparent;
}

.arrow-up {
  z-index: 1;
  position: absolute;
  right: 6%;
  top: 20%;
}

.loyalty {
  z-index: 1;
  position: absolute;
  right: 7%;
  bottom: 131px;
}

.arrow-down {
  z-index: 1;
  position: absolute;
  right: 19%;
  bottom: 143px;
}

.arrow-down img {
  width: 70%;
}

.qr-icon {
  z-index: 2;
  bottom: 82%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.qr-icon img {
  width: 60%;
}

.container {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  margin-right: auto;
  margin-left: auto;
}

.top-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.center-image {
  width: 100%;
  height: auto;
}

.bottom-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  gap: 12px;
}

.bottom-items p > span {
  color: gray;
}

@media only screen and (max-height: 700px) {
  .center-image {
    width: 89%;
  }

  .prize-bottom img {
    width: 35%;
  }
}

@media only screen and (min-height: 800px) {
  .center-image {
    padding: 15% 0;
  }
}

/* @media only screen and (max-width: 375px) {
  .loyalty {
    z-index: 1;
    position: absolute;
    right: 7%;
    bottom: 34%;
  }

  .arrow-down {
    z-index: 1;
    position: absolute;
    right: 19%;
    bottom: 38%;
  }
} */
