@import "../onboarding_stylesheets/googlefonts/fontstyle.css";

.text-17-m {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.text-17-b {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.text-15-b {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.text-15-m {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.text-12-b {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.text-11-m {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

.caption-13-r {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.caption-h3, h3 {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

h4 {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 130.84%;
}

h2 {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.black {
  color: #222222 !important;
}

.red {
  color: #e52924 !important;
}

.white {
  color: #ffffff;
}

.gray {
  color: #737373;
}
@media only screen and (max-width: 375px) {
  h4 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 13px;
    line-height: 26px;
  }
  
  h3{
    font-size: 20px;
    line-height: 30px;
  }
}