@font-face {
  font-family: "DM Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("DMSans-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: url("DMSans-Medium.woff");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: url("DMSans-Bold.woff");
  font-display: swap;
}
